# Webscraping

In this blog post I will discuss the following question:  
    *What movie or TV shows share actors with your favorite movie or show?*

And the link to my project repository:  
    https://github.com/libbyrencc/post/tree/main/post2

### 1.Setup

First, we need to setup our webscraping environment, remember to install scrapy package in your conda environment.

And run the following command in your terminal to initialize the project:

In [ ]:
conda activate PIC16B
scrapy startproject IMDB_scraper
cd IMDB_scraper

Now the file of scraper should be constructed correctly. Go to /IMDB_scraper/spiders/, and create a file "imdb_spider.py". And add following code to the start of the file

In [2]:
import scrapy

class ImdbSpider(scrapy.Spider):
    name = 'imdb_spider'
    
    start_urls = ['https://www.imdb.com/title/tt1533117/']
                #You can change your favorite film's url here

Couldn't find program: 'false'

## Implement three parsing methods for the ImdbSpider class

### 1. prase(self,response)

First we start writing the prase method. It should start on a movie page, and then navigate to the Cast&Crew page.
And Call the next method prase_full_credits(self,response).

Here I use the CSS selector to find the URL of the Cast&Crew page
and yeild scrapy.Request

In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

In [2]:
results=pd.read_csv("results.csv")
results

        actor               movie_or_TV_name
0    Marco Ma          Gone with the Bullets
1    Marco Ma            Let the Bullets Fly
2    Marco Ma                      Pk.com.cn
3    Marco Ma           The Blossom of Roses
4    Marco Ma            Let the Bullets Fly
..        ...                            ...
885    You Ge            The Troubleshooters
886    You Ge                  Shan de nu er
887    You Ge  Sheng xia he ta de wei hun fu
888    You Ge    The 11th China Movie Awards
889    You Ge               I Love My Family

[890 rows x 2 columns]

In [3]:
k=results.groupby(["movie_or_TV_name"])["actor"].aggregate(len)

In [4]:
k=k.reset_index()

In [5]:
k

                             movie_or_TV_name  actor
0                   "Swordsmen of the Passes"      2
1                100 Ways to Murder Your Wife      1
2                                        1911      2
3                                        1921      1
4       2000 Blockbuster Entertainment Awards      1
..                                        ...    ...
663                        Zhi Ming Yuan Wang      1
664  Zhongkui: Snow Girl and the Dark Crystal      1
665                                Zou dao di      1
666                                Zou xi kou      1
667                         Ôsama no buranchi      1

[668 rows x 2 columns]

In [6]:
k=k.sort_values(by=["actor"],ascending=False).reset_index(drop=True)

In [7]:
k.head(10)

                 movie_or_TV_name  actor
0             Let the Bullets Fly     34
1           Gone with the Bullets     10
2              The Sun Also Rises      9
3      The Founding of a Republic      8
4                      Hidden Man      8
5            If You Are the One 2      6
6                I Love My Family      5
7                     The Robbers      5
8                        Assembly      5
9  Beginning of the Great Revival      5